@import "neat/neat-helpers";

// Change the grid settings

// $gw-column: 120px
// $gw-gutter: 0px

$column: 120px;
$gutter: 0px;
$grid-columns: 8;
$max-width: em(960);

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);