//============================ Libraries

@import "reset";
@import "compass/css3";
@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";



//============================ Vars

$fontAlternative: "Helvetica", Arial, Verdana;
$fontDefault: $fontAlternative;
$bodyColor: #fff;
$bodyImage: url(bg-body.png) no-repeat center top;



//============================ Mixins

@function img($path){
	@return url("../../../images/" + $path)
}



//============================ html

html, body{
	min-height: 100%;
}

html{}

body{
	background: $bodyColor $bodyImage;
}

a{
	text-decoration: none;
	outline: none;
	color: #000;

	&:hover{
		//+opacity(0.1);
	}
}

ul,li{
	list-style: none;
}

input, textarea{
	outline: none;
}

body{
	font-family: $fontDefault;
	font-size: 16px;
}



//============================ header



//============================ content


